<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Accept invitation</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="../../help/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../../help/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../../help/css/style.css" rel="stylesheet">
</head>

<body>

<header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img  src="../../img/logo-help.png" >
            </a>
        </div>
    </nav>
    <!--/.Navbar-->
</header>

<main>
    <!--Main layout-->
    <div class="container">

        <div class="row wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2 class="h3-responsive">Welcome to the ChattyFly Familly!</h2>
                    <br>
                    <p>Your group invitation was successfully completed :)</p>
                    <hr>
                    <p>Bellow you can sign in or read more about ChattyFly.</p>
                    <a target="_blank" href="/users/login" class="btn btn-outline-unique waves-effect waves-light" rel="nofollow">Sign in <i class="fa fa-sign-in-alt right" aria-hidden="true"></i></a>
                    <a target="_blank" href="#" class="btn btn-unique btn-ptc waves-effect waves-light" rel="nofollow">Learn more <i class="fa fa-book right"></i></a>
                </div>
            </div>
        </div>

    </div>
    <!--/.Main layout-->

</main>

<!--Footer-->
<footer class="page-footer text-center text-md-left mt-4 pt-4">
    <!--Footer links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-lg-3 col-md-6 ml-auto">
                <h5 class="title mb-3"><strong>About material design</strong></h5>
                <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>
                <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS,
                    and JS framework - Bootstrap.</p>
            </div>
            <!--/.First column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Second column-->
            <div class="col-lg-2 col-md-6 ml-auto mb-4">
                <h5 class="title mb-3"><strong>First column</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Third column-->
            <div class="col-lg-2 col-md-6 ml-auto mb-4">
                <h5 class="title mb-3"><strong>Second column</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Fourth column-->
            <div class="col-lg-2 col-md-6 ml-auto mb-4">
                <h5 class="title mb-3"><strong>Third column</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer links-->
    <hr>
    <!--Call to action-->
    <div class="call-to-action text-center my-4">
        <h4 class="mb-4">Material Design for Bootstrap</h4>
        <h5 class="mb-4">Get our UI KIT for free</h5>
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-primary waves-effect waves-light"
                   rel="nofollow">Sign up!</a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-info waves-effect waves-light"
                   rel="nofollow">Learn more</a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="containter-fluid">
            © 2019 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="../../help/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../help/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../help/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->

<script type="text/javascript" src="../../help/js/mdb.min.js"></script>

<script type="text/javascript" src="../../help/js/main.js"></script>
</body>

</html>

